<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tata_steel_blue_logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/tata_steel_blue_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TSL_App"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activities.mappedpipe.MapPipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.searchPipe.SearchPipeWithRFIDActivity"
            android:exported="false" />
        <activity
            android:name=".activities.searchGraph.LocatorActivity"
            android:exported="false" />
        <activity
            android:name=".activities.mappedpipe.MapPipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.selectRFIDandSearch.PowerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchTabScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.searchProcTallyPipe.searchPipeNumber.PipeNumberFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.settings.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.searchProcTallyPipe.searchTallySheet.TallySheetFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.searchProcTallyPipe.searchProcesssheet.SearchProcessSheetFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.rfidmap.ScanRFIDActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.rfidmap.RFIDProcessInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.searchProcTallyPipe.searchProcesssheet.SearchSheetFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.selectRFIDandSearch.TagPipeRFIDActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>